<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex flex-wrap f4 fw4 white-70 pv2 ph3" style="gap: .5rem">
    <div class="flex justify-between flex-wrap flex-auto">
      <div> 
        {{ with .Site.GetPage "impressum.md" }}
          <a class="white-70 hover-white no-underline" href="{{ .RelPermalink }}">Impressum</a><br>
        {{ end }}
        {{ with .Site.GetPage "datenschutz.md" }}
          <a class="white-70 hover-white no-underline" href="{{ .RelPermalink }}">Datenschutzerklärung</a>
        {{ end }}
      </div>
      <div class="ml-auto" style="margin-top: auto">
        Unterstützt von:
      </div>
    </div>
    <div class="flex flex-wrap ml-auto" style="gap: 1rem">
      <a href="https://www.schmidhauser-stiftung.ch/" class="ml-auto">
        <img src="{{ "/images/schmidhauser.png" | relURL }}">
      </a>
      <a href="https://www.einhell.ch/" class="ml-auto">
        <img src="{{ "/images/einhell.png" | relURL }}">
      </a>
      <a href="https://stadt.winterthur.ch/gemeinde/verwaltung/kulturelles-und-dienste/stadtentwicklung" class="ml-auto">
        <img src="{{ "/images/stadt-winterthur.png" | relURL }}">
      </a>
    </div>

  </div>
</footer>